Repository modelcontextprotocol/access: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, validate-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type check
        entry: npm run build
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: validate-config
        name: Validate team references
        entry: npm run validate
        language: system
        pass_filenames: false
        files: ^src/config/

Add prettier formatting and CI validation checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  README.md
  package-lock.json
  package.json
  src/config/groups.ts
  src/config/repoAccess.ts
  src/config/users.ts
  src/config/utils.ts
  src/google.ts
  tsconfig.json
Due: typescript-check, validate-config

fix
  package-lock.json
Due: none

Use GitHub secret for Pulumi GitHub token instead of encrypted config
  .github/workflows/deploy.yml
  Pulumi.prod.yaml
Due: none

Add one-time migration workflow to set GitHub token and clean up state
  .github/workflows/deploy.yml
  .github/workflows/migrate-state.yml
Due: none

Use GITHUB_TOKEN env var for Pulumi GitHub provider
  .github/workflows/deploy.yml
  .github/workflows/migrate-state.yml
Due: none

Add state cleanup before deploy to remove orphaned core team
  Makefile
Due: none

Add bolinfest to rust-sdk group
  src/config/users.ts
Due: typescript-check, validate-config

Remove bolinfest from rust-sdk group, keep direct push access
  src/config/users.ts
Due: typescript-check, validate-config

Add a-akimov to docs-maintaners team, tighten inspector/servers permissions
  src/config/repoAccess.ts
  src/config/users.ts
Due: typescript-check, validate-config

Add jonathanhefner to ruby-sdk
  src/config/users.ts
Due: typescript-check, validate-config

Add jonathanhefner to ruby-sdk (#20)
  src/config/users.ts
Due: typescript-check, validate-config

add kurtis and caitie to core maintainers as per decision of core maintainers
  src/config/users.ts
Due: typescript-check, validate-config

remove inna from core maintainers as per her own wish
  src/config/users.ts
Due: typescript-check, validate-config

Add movetz and stallent as Swift SDK maintainers
  src/config/users.ts
Due: typescript-check, validate-config

Set up tiered access: admins + contributor team
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Preserve mattt as admin
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Add a-akimov to docs-maintaners, tighten inspector/servers permissions (#19)
  src/config/repoAccess.ts
  src/config/users.ts
Due: typescript-check, validate-config

Add movetz and stallent as Swift SDK maintainers (#21)
  src/config/repoAccess.ts
  src/config/users.ts
Due: typescript-check, validate-config

Add Discord role sync with role-centric architecture
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  package.json
  scripts/test-config.ts
  scripts/validate-config.ts
  src/config/groups.ts
  src/config/repoAccess.ts
  src/config/roleIds.ts
  src/config/roles.ts
  src/config/users.ts
  src/config/utils.ts
  src/discord.ts
  src/github.ts
  src/google.ts
  src/index.ts
Due: typescript-check, validate-config

Fix GitHub team ordering and make Discord integration optional
  src/config/users.ts
  src/config/utils.ts
  src/discord.ts
  src/github.ts
Due: typescript-check, validate-config

Reconcile Discord roles for listed users
  src/discord.ts
Due: typescript-check

Fix descriptions to match existing resources
  src/config/roles.ts
Due: typescript-check, validate-config

Cache Pulumi plugins and fix GITHUB_TOKEN for pulumi install
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  pulumi-state-backup-20260113-215813.json
Due: none

Remove accidentally committed state backup
  pulumi-state-backup-20260113-215813.json
Due: none

Use github.token for pulumi install
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
Due: none

Fix formatting
  scripts/test-config.ts
  src/config/utils.ts
  src/discord.ts
Due: typescript-check, validate-config

Add dsp-ant to lead-maintainers
  src/config/users.ts
Due: typescript-check, validate-config

Add Discord role sync with role-centric architecture (#22)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  Makefile
  package.json
  scripts/test-config.ts
  scripts/validate-config.ts
  src/config/groups.ts
  src/config/repoAccess.ts
  src/config/roleIds.ts
  src/config/roles.ts
  src/config/users.ts
  src/config/utils.ts
  src/discord.ts
  src/github.ts
  src/google.ts
  src/index.ts
Due: typescript-check, validate-config

Add pja-ant to transports WG
  src/config/users.ts
Due: typescript-check, validate-config

Add LucaButBoring
  src/config/users.ts
Due: typescript-check, validate-config

Updated user Cliff Hall
  src/config/users.ts
Due: typescript-check, validate-config

Prettier
  src/config/users.ts
Due: typescript-check, validate-config

Add user caitiem20
  src/config/users.ts
Due: typescript-check, validate-config

removing duplicate caitie
  src/config/users.ts
Due: typescript-check, validate-config

ran prettier
  src/config/users.ts
Due: typescript-check, validate-config

Add Discord user IDs
  src/config/users.ts
Due: typescript-check, validate-config

Update users.ts
  src/config/users.ts
Due: typescript-check, validate-config

Update discord & email for chr-hertel
  src/config/users.ts
Due: typescript-check, validate-config
