Repository modelcontextprotocol/access: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, validate-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type check
        entry: npm run build
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: validate-config
        name: Validate team references
        entry: npm run validate
        language: system
        pass_filenames: false
        files: ^src/config/

Add felixweinberger and maxisbey as admins on access repo
  src/config/repoAccess.ts
Due: typescript-check, validate-config

feat(users): add Transports Working Group members to transport-wg
  src/config/users.ts
Due: typescript-check, validate-config

feat(users): add Transports Working Group members to transport-wg (#117)
  src/config/users.ts
Due: typescript-check, validate-config

feat(users): add olaservo to interceptors-wg
  src/config/users.ts
Due: typescript-check, validate-config

Suppress googleworkspace permadiffs in preview output
  src/google.ts
Due: typescript-check

Add olaservo to interceptors-wg (#122)
  src/config/users.ts
Due: typescript-check, validate-config

Add appeals@ Google Group for Code of Conduct ban appeals
  src/config/roleIds.ts
  src/config/roles.ts
  src/config/users.ts
Due: typescript-check, validate-config

Add ddworken and OctavianGuzu as admins on python-sdk and typescript-sdk
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Add ddworken and OctavianGuzu as admins on python-sdk and typescript-sdk (#124)
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Update repoAccess for experimental-ext-tasks rename to ext-tasks
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Update repoAccess for experimental-ext-tasks rename to ext-tasks (#125)
  src/config/repoAccess.ts
Due: typescript-check, validate-config

ci: temp state delete for renamed experimental-ext-tasks repo
  .github/workflows/deploy.yml
Due: none

ci: temp state delete for renamed experimental-ext-tasks repo (#126)
  .github/workflows/deploy.yml
Due: none

Add David Ortinau with CSHARP_SDK and CSHARP_SDK_ADMIN roles
  src/config/users.ts
Due: typescript-check, validate-config

Add David Ortinau with CSHARP_SDK and CSHARP_SDK_ADMIN roles (#127)
  src/config/users.ts
Due: typescript-check, validate-config

Update .gitignore
  .gitignore
Due: none

Add appeals@ Google Group for Code of Conduct ban appeals (#123)
  src/config/roleIds.ts
  src/config/roles.ts
  src/config/users.ts
Due: typescript-check, validate-config

Create template for custom agent configuration
  .github/agents/my-agent.agent.md
Due: none

Update dependency review workflow configuration
  .github/workflows/dependency-review.yml
Due: none

Add project structure and setup documentation
  To
Due: none

Update deploy.yml workflow file
  *
Due: none

Delete .gitignore
  .gitignore
Due: none

Give inspector-maintainers admin access on inspector repo
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Give inspector-maintainers admin access on inspector repo (#134)
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Add npm org team and package access management
  .github/workflows/deploy.yml
  README.md
  scripts/validate-config.ts
  src/config/npmPackages.ts
  src/config/roles.ts
  src/config/utils.ts
  src/index.ts
  src/npm.ts
Due: typescript-check, validate-config

Delete src directory
  src/config/orgRoles.ts
  src/config/orgSettings.ts
  src/config/repoAccess.ts
  src/config/roleIds.ts
  src/config/roles.ts
  src/config/users.ts
  src/config/utils.ts
  src/discord.ts
  src/github.ts
  src/google.ts
  src/index.ts
Due: typescript-check, validate-config

Update and rename README.md to ##/production
  ##/production
Due: none

Record existing GWS accounts for ajribeiro and ochafik
  src/config/users.ts
Due: typescript-check, validate-config

Create dependency review workflow
  mependency-review.y
Due: none

Declare org website URL in org settings
  src/config/orgSettings.ts
Due: typescript-check, validate-config

Repair corrupted GroupMember state so deploys stop failing (#133)
  .github/workflows/deploy.yml
Due: none

Widen state repair to all seven corrupted GroupMember records (#133)
  .github/workflows/deploy.yml
Due: none

Replace per-URN state deletes with export surgery; verify healing post-deploy (#133)
  .github/workflows/deploy.yml
Due: none

Bump googleworkspace provider 0.11.1 -> 0.11.2 (#133)
  Pulumi.yaml
Due: none

Declare allowExternalMembers on managed group settings
  src/google.ts
Due: typescript-check

Scope allowExternalMembers per group, derived from membership config
  scripts/test-config.ts
  src/config/utils.ts
  src/google.ts
Due: typescript-check, validate-config
