Repository modelcontextprotocol/access: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, validate-config

typescript-check:
  name: TypeScript type check
  entry: npm run build
  language: system
  pass_filenames: false

validate-config:
  name: Validate team references
  entry: npm run validate
  language: system
  pass_filenames: false

Restrict go-sdk repository access to go-sdk team. (#60)
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Add pederhp as community moderator and community manager
  src/config/users.ts
Due: typescript-check, validate-config

Add pederhp as community moderator and community manager (#61)
  src/config/users.ts
Due: typescript-check, validate-config

Add BobDickinson to SKILLS_OVER_MCP_IG role
  src/config/users.ts
Due: typescript-check, validate-config

Fix alphabetical sorting of BobDickinson entry
  src/config/users.ts
Due: typescript-check, validate-config

Add BobDickinson to SKILLS_OVER_MCP_IG role (#63)
  src/config/users.ts
Due: typescript-check, validate-config

Add governance repo access for lead/core maintainers and sambhav admin
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Add steering-committee maintain access to governance repo
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Rename governance repo to maintainer-docs
  src/config/repoAccess.ts
Due: typescript-check, validate-config

Give core-maintainers admin access to maintainer-docs
  src/config/repoAccess.ts
Due: typescript-check, validate-config

update deps
  package.json
Due: none

update deps (#67)
  package.json
Due: none

Add BobDickinson as registry maintainer
  src/config/users.ts
Due: typescript-check, validate-config

Add BobDickinson as registry maintainer (#68)
  src/config/users.ts
Due: typescript-check, validate-config

access: add Dale Seo as Rust SDK maintainer
  src/config/users.ts
Due: typescript-check, validate-config

access: add Dale Seo as Rust SDK maintainer (#69)
  src/config/users.ts
Due: typescript-check, validate-config

Add Google Workspace user account provisioning
  .gitignore
  devenv.nix
  package-lock.json
  package.json
  scripts/test-config.ts
  scripts/validate-config.ts
  src/config/roles.ts
  src/config/users.ts
  src/config/utils.ts
  src/google.ts
Due: typescript-check, validate-config

Fix validation: remove stale skipGoogleUserProvisioning from a-akimov, add it for BobDickinson
  src/config/users.ts
Due: typescript-check, validate-config

Add Google Workspace user account provisioning (#66)
  .gitignore
  devenv.nix
  package-lock.json
  package.json
  scripts/test-config.ts
  scripts/validate-config.ts
  src/config/roles.ts
  src/config/users.ts
  src/config/utils.ts
  src/google.ts
Due: typescript-check, validate-config

add devenv
  devenv.nix
Due: none

impersonate mail
  Pulumi.prod.yaml
Due: none

fix: use admin-david@ for GWS impersonation to fix user provisioning 403s
  Pulumi.prod.yaml
Due: none

fix: restrict provider oauthScopes to match domain-wide delegation
  Pulumi.prod.yaml
Due: none

more stuff
  Pulumi.prod.yaml
Due: none

remove unecessary delegation
  Pulumi.prod.yaml
Due: none

fix: create OrgUnit resource before provisioning GWS users
  src/google.ts
Due: typescript-check

fix: import existing OrgUnit by ID 03ph8a2z0nc6rsr
  src/google.ts
Due: typescript-check

fix: drop parentOrgUnitPath and description from OrgUnit to avoid update after import
  src/google.ts
Due: typescript-check

fix: add back parentOrgUnitPath (required by provider)
  src/google.ts
Due: typescript-check

fix: add ignoreChanges and match existing description to prevent OrgUnit update
  src/google.ts
Due: typescript-check

fix: only ignoreChanges on description, parentOrgUnitPath is required by provider
  src/google.ts
Due: typescript-check

fix: ignore recoveryEmail and recoveryPhone on imported GWS users
  src/google.ts
Due: typescript-check

fix: ignoreChanges on all user-managed fields for GWS users
  src/google.ts
Due: typescript-check

fix: mark pja as existingGWSUser to import instead of create
  src/config/users.ts
Due: typescript-check, validate-config

fix: stop importing existing GWS users into Pulumi state
  src/config/users.ts
  src/google.ts
Due: typescript-check, validate-config

add nick and caitie to gwp users
  src/config/users.ts
Due: typescript-check, validate-config

Update swift-sdk maintainers (#65)
  src/config/users.ts
Due: typescript-check, validate-config

Add personal account with the right access level
  src/config/users.ts
Due: typescript-check, validate-config

Add personal account with the right access level (#70)
  src/config/users.ts
Due: typescript-check, validate-config

Enable opt-in Google Workspace accounts for maintainers
  README.md
  scripts/test-config.ts
  scripts/validate-config.ts
  src/config/roles.ts
Due: typescript-check, validate-config

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  validate-config: any of: ^src/config/
